.about {
  max-width: 1440px;
  padding: 100px 20px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.about--fade-up {
  opacity: 1;
  transform: translateY(0);
}

.about__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about__image {
  border-radius: 50%;
  margin-right: 20px;
  width: 420px;
  height: 420px;
}

.about__container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about__title {
  font-size: 48px;
  margin: 0 0 40px;
}

.about__text {
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 20px;
}

@media screen and (max-width: 1100px) {
  .about__content {
    flex-direction: column;
    margin: 0 auto;
  }

  .about__image {
    margin: 0;
    width: 320px;
    height: 320px;
  }

  .about__container {
    max-width: 450px;
    margin-top: 50px;
    align-items: center;
  }

  .about__title {
    font-size: 40px;
  }

  .about__text {
    font-size: 18px;
  }
}

@media screen and (max-width: 375px) {
  .about__image {
    width: 300px;
    height: 300px;
  }

  .about__text {
    text-align: center;
  }
}
