.back-to-top {
  display: block;
  margin: 0 auto 50px;
  padding: 0;
  font-size: 20px;
  font-weight: 300;
  color: #000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: opacity 1s ease;
  opacity: 0;
}

.back-to-top--fade-up {
  opacity: 1;
}

.back-to-top:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1160px) {
  .back-to-top {
    margin-bottom: 30px;
    font-size: 16px;
  }
}
