.contact {
  padding: 100px 50px 100px 0;
  max-width: 1440px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  margin: 0 auto;
}

.contact--fade-up {
  opacity: 1;
  transform: translateY(0);
}

.contact__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #e9f1fc;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.contact__title {
  font-size: 48px;
  margin: 0 20px 30px 80px;
}

.contact__text {
  font-size: 20px;
  margin: 0 20px 0 80px;
  font-weight: 300;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  padding: 100px 25px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-sizing: border-box;
}

.form__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 21px;
}

.form__input-wrapper {
  position: relative;
  flex: 1;
}

.form__input-wrapper input,
.form__input-wrapper textarea {
  width: 95%;
  padding: 15px 8px 0;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 300;
  color: #000;
  font-size: 17px;
  border-radius: 5px;
}

.form__input-wrapper textarea {
  width: 97.8%;
  height: 80px;
  padding: 25px 8px 0;
}

.form__input-wrapper label {
  position: absolute;
  top: 8px;
  left: 5px;
  background-color: #fff;
  font-size: 16px;
  pointer-events: none;
  color: #555;
  padding: 0 4px;
  transition: 0.2s ease all;
}

.form__input-wrapper input:focus + label,
.form__input-wrapper textarea:focus + label,
.form__label--active {
  top: 2px;
  font-size: 14px;
}

.form__text {
  margin: 3px 0 20px;
  color: #999;
  font-weight: 300;
}

.form__submitbtn {
  width: 200px;
  height: 60px;
  margin: 10px auto 0;
  font-size: 20px;
  background: #0077b5;
  transition: background-color 0.3s ease;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.form__submitbtn:hover {
  background-color: #4a91b8;
}

@media screen and (max-width: 1300px) {
  .contact__title {
    font-size: 40px;
    margin: 0 0 30px 60px;
  }

  .contact__text {
    font-size: 18px;
    margin: 0 0 0 60px;
    font-weight: 300;
    max-width: 250px;
  }
}

@media screen and (max-width: 1160px) {
  .contact {
    padding: 50px 0 30px 0;
  }

  .contact__title {
    margin: 0;
  }

  .contact__text {
    margin: 0;
  }

  .contact__content {
    flex-direction: column;
    padding: 50px 0;
    gap: 30px;
  }

  .form {
    padding: 50px 25px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 920px) {
  .form {
    max-width: 600px;
  }
}

@media screen and (max-width: 780px) {
  .contact__title {
    font-size: 30px;
  }

  .contact__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .contact__content {
    padding: 50px 0;
    text-align: center;
  }
  .contact__title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .contact__text {
    font-size: 14px;
  }

  .form {
    width: 100%;
    border-radius: 0;
    padding: 25px 25px;
  }

  .form__container {
    flex-direction: column;
  }

  .form__input-wrapper input {
    width: 95%;
    padding: 15px 8px 0;
    font-size: 15px;
  }

  .form__input-wrapper label {
    font-size: 14px;
  }

  .form__input-wrapper textarea {
    width: 95%;
    padding: 27px 8px 0;
    font-size: 15px;
  }

  .form__submitbtn {
    width: 150px;
    height: 40px;
    margin: 10px auto 0;
    font-size: 16px;
  }
}
