.footer {
  background-color: #000;
}

.footer__content {
  max-width: 1440px;
  padding: 35px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

.footer__copyright {
  color: #fff;
  margin: 0;
  font-weight: 300;
}

.footer__link {
  height: 25px;
}

.footer__link-image {
  width: 100px;
}

@media screen and (max-width: 600px) {
  .footer__content {
    padding: 20px 0;
  }

  .footer__copyright {
    font-size: 14px;
  }

  .footer__link {
    height: 22px;
  }

  .footer__link-image {
    width: 80px;
  }
}

@media screen and (max-width: 450px) {
  .footer__content {
    padding: 15px 0;
    gap: 30px;
  }

  .footer__copyright {
    font-size: 12px;
  }
}
