.header {
  position: sticky;
  top: 0;
  padding: 0 40px;
  transition: background-color 0.3s ease;
  z-index: 999;
  background: linear-gradient(to right, #232526, #414345);
}

.header_scrolled {
  background: #000;
}

.nav {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.animated-logo {
  font-size: 40px;
  display: inline-block;
  cursor: pointer;
}

.animated-logo span {
  display: inline-block;
  background: linear-gradient(90deg, #8e9eab, #cfd9df, #8e9eab);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-letter 6s ease-in-out infinite;
  transition: filter 0.3s ease;
}

.animated-logo span:hover {
  filter: brightness(1.5);
}

/* Add staggered delays for wave effect */
.animated-logo span:nth-child(1) {
  animation-delay: 0s;
}
.animated-logo span:nth-child(2) {
  animation-delay: 0.1s;
}
.animated-logo span:nth-child(3) {
  animation-delay: 0.2s;
}
.animated-logo span:nth-child(4) {
  animation-delay: 0.3s;
}
.animated-logo span:nth-child(5) {
  animation-delay: 0.4s;
}
.animated-logo span:nth-child(6) {
  animation-delay: 0.5s;
}
.animated-logo span:nth-child(7) {
  animation-delay: 0.6s;
}
.animated-logo span:nth-child(8) {
  animation-delay: 0.7s;
}
.animated-logo span:nth-child(9) {
  animation-delay: 0.8s;
}
.animated-logo span:nth-child(10) {
  animation-delay: 0.9s;
}
.animated-logo span:nth-child(11) {
  animation-delay: 1s;
}
.animated-logo span:nth-child(12) {
  animation-delay: 1.1s;
}
.animated-logo span:nth-child(13) {
  animation-delay: 1.2s;
}
.animated-logo span:nth-child(14) {
  animation-delay: 1.3s;
}
.animated-logo span:nth-child(15) {
  animation-delay: 1.4s;
}
.animated-logo span:nth-child(16) {
  animation-delay: 1.5s;
}

.nav__links {
  display: flex;
  gap: 30px;
  color: #fff;
}

.nav__link {
  text-decoration: none;
  color: #fff;
}

.nav__link:hover {
  transform: scale(1.1);
}

.header__button {
  display: none;
}

@keyframes gradient-letter {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 800px) {
  .animated-logo {
    font-size: 28px;
  }

  .nav__links {
    display: none;
  }

  .header__button {
    background: url("../assets/header-menu.svg") center no-repeat;
    display: block;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
    scale: 1.3;
  }
}

@media screen and (max-width: 520px) {
  .header {
    padding: 0 10px;
  }

  .animated-logo {
    font-size: 22px;
  }
}
