.hero {
  height: 100vh;
  margin: 0;
  padding: 20px 40px;
  background: linear-gradient(to right, #232526, #414345);
  color: #fff;
}

.hero__content {
  max-width: 1440px;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 0 100px;
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease-out 0.3s forwards;
}

.hero__container {
  display: flex;
  flex-direction: column;
}

.hero__title {
  font-size: 60px;
}

.hero__image {
  margin: 0;
  width: 800px;
  height: 533px;

  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.hero__description {
  font-size: 26px;
  font-weight: 100;
  max-width: 400px;
  margin-top: 200px;
}

.hero__button {
  max-width: 200px;
  display: inline-block;
  margin: 20px 185px 0 auto;
  padding: 15px 28px;
  background: #000;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.hero__button:hover {
  background-color: #808891;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
