.hero {
  height: 100vh;
  margin: 0;
  padding: 20px 40px;
  background: linear-gradient(to right, #232526, #414345);
  color: #fff;
}

.hero__content {
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 0 100px;
  color: #fff;
}

.hero__title {
  font-size: 48px;
  margin: 200px 0 0;
}

.hero__image {
  margin: 50px 0 0;
  width: 1020px;
  height: 680px;
}

.hero__description {
  font-size: 20px;
  margin: 50px 0 0;
}
