.modal {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s ease 0.3s;
  z-index: 999;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s;
}

.modal__content {
  position: absolute;
  top: 70px;
  right: 38px;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px 50px;
}

.modal__links {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.modal__link {
  text-decoration: none;
  color: #000;
  font-family: "Helvetica Neue", sans-serif;
  transition: transform 0.2s ease;
}

.modal__link:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 520px) {
  .modal__content {
    top: 55px;
    right: 8px;
  }
}
