@import url(./vendor/normalize.css);
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/src/assets/fonts/HelveticaNeueRoman.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/src/assets/fonts/HelveticaNeueLight.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/src/assets/fonts/HelveticaNeueThin.otf") format("opentype");
}
